section.calendar-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
section.calendar {
  width: 90%;
  background-color: #FF6968;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 20;
  >header {
    color: white;
    font-size: $big-text;
    position: relative;
    .calendar {
      font-size: 22px;
    }
    .close {
      position: absolute;
      top: -3px;
      right: -3px;
      font-size: 28px;
    }
  }
  >section.month {
    margin: 18px 0;
    border: 1px solid $line-gray;
    border-radius: 5px;
    color: $text-darker-gray;
    >table {
      border-collapse:collapse;
      width: 100%;
      font-size: $normal-text;
      text-align: center;
      background: white;
      thead > tr{
        height: 43px;
        background: #ffcbca;
        font-size: $big-text;
      }
      tr > td {
        position: relative;
        padding: 5px;
        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          line-height: 32px;
        }
      }
      .next-befor {
        color: $text-light-gray;
      }
      .signed-next-befor {
        @extend .next-befor;
        background-color: #fff3cf;
        border-radius: 32px;
      }
      .signed-current {
        background-color: #ffdb71;
        border-radius: 32px;
      }
      .member-day {
        position: absolute;
        top: 0;
        right: 5px;
        color: $blue;
      }
    }
  }

  >footer {
    top: 346px;
    color: white;
    width: 100%;
    text-align: center;
    >div {
      text-align: center;
      margin-bottom: 5px;
    }
    >div:last-child {
      margin-top: 18px; /* for bfc */
      color: #fdc34c;
      border-radius: 10px;
      background: white;
      display: inline-block;
      width: 148px;
      height: 30px;
      line-height: 30px;
    }
  }
}
