section.calendar {
  width: 359px;
  height: 459px;
  background-color: #FF6968;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  >header {
    color: white;
    font-size: $big-text;
    position: relative;
    .calendar {
      position: absolute;
      top: 18px;
      left: 10px;
    }
    .day {
      position: absolute;
      top: 18px;
      left: 40px;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 28px;
    }
  }
  >section.month {
    position: absolute;
    top: 50px;
    left: 10px;
    border: 1px solid $line-gray;
    border-radius: 5px;
    color: $text-darker-gray;
    >table {
      border-collapse:collapse;

      // 宽度 100%, 高度不指定
      width: 337px;
      height: 278px;

      font-size: $normal-text;
      text-align: center;
      background: white;
      thead > tr{
        height: 43px;
        background: #ffcbca;
        font-size: $big-text;
      }

      // 设置一下 padding
      tr > td {
        position: relative;
        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          line-height: 32px;
        }
      }
      .next-befor {
        color: $text-light-gray;
      }
      .signed-next-befor {
        @extend .next-befor;
        background-color: #fff3cf;
        border-radius: 32px;
      }
      .signed-current {
        background-color: #ffdb71;
        border-radius: 32px;
      }
      .member-day {
        position: absolute;
        top: 0;
        right: 5px;
        color: $blue;
      }
    }
  }

  >footer {
    position: absolute;
    top: 346px;
    color: white;
    width: 100%;
    text-align: center;
    >div {
      text-align: center;
      margin-bottom: 5px;
    }
    >div:last-child {
      margin-top: 18px; /* for bfc */
      color: #fdc34c;
      border-radius: 10px;
      background: white;
      display: inline-block;
      width: 148px;
      height: 30px;
      line-height: 30px;
    }
  }
}
