<section class="drop-down-menu">
  <nav class="header">
    <ul>
      <li ng-class="{'active': headerActive}" ng-click="switchList()">
        <span>搜狐视频</span>
        <i class="iconfont icon-fold"></i>
      </li>
      <li ng-class="{'active': exchangeActive}" ng-click="switchExchangeList()">
        <span>兑换</span>
        <i class="iconfont icon-fold"></i>
      </li>
      <li ng-class="{'active': mineExchangeActive}" ng-click="switchMineExchange()">
        <i class="iconfont" ng-class="{'icon-check': mineExchangeActive, 'icon-circle': !mineExchangeActive}"></i>
        <span>我能兑换</span>
      </li>
    </ul>
  </nav>
  <section class="list" ng-show="showList">
    <nav class="sub-nav1">
      <ul>
        <li ng-repeat="m in subMenus1 track by $index" ng-bind="m.name" ng-class="{'active': $index==2}">
        </li>
      </ul>
    </nav>
    <nav class="sub-nav2">
      <ul>
        <li ng-repeat="m in subMenus1[2].children" ng-class="{'active': $index==1}">
          <span ng-bind="m.name"></span>
          <i class="iconfont icon-check-item" ng-show="$index==1"></i>
        </li>
      </ul>
    </nav>
  </section>
  <section class="list exchange-list" ng-show="showExchangeList">
    <nav class="sub-nav2">
      <ul>
        <li ng-repeat="m in subMenus2 track by $index" ng-class="{'active': $index==1}">
          <span ng-bind="m.name"></span>
          <i class="iconfont icon-check-item" ng-show="$index==1"></i>
        </li>
      </ul>
    </nav>
  </section>
</section>
