@import "../../sass/variable";
@import "../../sass/common";
.drop-down-menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: $normal-text;
    color: $text-gray;
    li {
      display: inline-block;
    }
  }
  .header {
    position: relative;
    >ul {
      background: white;
      border-bottom: 1px solid $line-gray;
      >li {
        border-right: 1px solid $line-gray;
        width: 32%;
        margin: 10px 0;
        text-align: center;
        position: relative;
      }
      >li:last-child {
        border-right: none;
      }
      >li.active {
        color: red;
      }
    }
  }
  .list {
    display: inline-flex;
    border-bottom: 1px solid $line-gray;
    .sub-nav {
      width: 50%;
      display: inline-block;
      height: 100%;
      font-size: $big-text;
      ul {
        li {
          border-right: 1px solid $line-gray;
          border-bottom: 1px solid $line-gray;
          width: 100%;
          padding: 10px 0 10px 20px;
          box-sizing: border-box;
        }
        li:last-child {
          border-bottom: none;
        }
      }
    }
    .sub-nav1 {
      @extend .sub-nav;
      background-color: #f2f2f2;
      li.active {
        color: red;
        background-color: white;
        border-right: 0;
      }
    }
    .sub-nav2 {
      @extend .sub-nav;
      left: 50%;
      background-color: white;
      li.active {
        color: red;
      }
    }

  }

}
