@import "variable";
/*webfont*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1462519334_1059072.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont{
  font-family:"iconfont";
  font-size:16px;font-style:normal;
}
/*webfont*/

.callout {
  border-left: 5px solid $red;
  padding: 8px;
  font-size: $normal-text;
  color: $red;
  margin: 0;
}

/*all kinds of level*/
.level {
  display: inline-block;
  padding: 0 8px;
  line-height: 17px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: $small-text;
}
.level1 {
  @extend .level;
  background-color: $green;
}
.level2 {
  @extend .level;
  background-color: $blue;
}
.level3 {
  @extend .level;
  background-color: $purple;
}
.level4 {
  @extend .level;
  background-color: $yellow;
}
.level4 {
  @extend .level;
  background-color: $pink;
}
/*all kinds of level*/

.sign-status {
  background-color: $pink;
  color: white;
  position: absolute;
  top: 23px;
  right: 0;
  display: inline-block;

  // 不需要指定宽度, height 和 line-height 指定一个就可以
  // 这里需要啊，要垂直居中
  width: 63px;
  height: 26px;
  line-height: 26px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: $normal-text;

  // 漏了 padding-right
  // ：）ui稿好像么有
  padding-left: 5px;
}


.property {
  display: inline-block;
  font-size: $small-text;
  >.point+span {
    color: $red;
  }
  >.wd+span {
    color: $blue;
  }
}
