@import "common";

body {
  margin: 0;
  background: $gray;
}

.index, .top-nav {
  background: white;
}

header.index, .top-nav {
  border-bottom: 1px solid $line-gray;
}

main.index, footer.index {
  border-top: 1px solid $line-gray;
}

header.index {
  position: relative;
	height: 130px;
  background-image: url('assets/images/banner-bg.png');
  .personal-avator {
    position: absolute;
    top: 51px;
    left: 25px;
    width: 60px;
    height: 60px;
  }
  .personal-profile {
    position: absolute;
    top: 82px;
    left: 110px;
    color: white;
    >.name {
      font-size: $big-text;
    }
  }
}

nav {
  a {
    display: inline-block;
  }
}

nav.top-nav {
	height: 86px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  // 这些标签最好都有 class
  /*这是公共a标签，可以不用class不？ */
  a {
    color: $text-gray;
    font-size: $small-text;
    figure {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        color: white;
        margin-bottom: 8px;
        .iconfont {
          font-size: 24px;
        }
      }
      margin: 0;
    }
  }

  a.real-gift > figure > span{
    background: $yellow;
  }
  a.virtual-gift> figure > span{
    background: $blue;
  }
  a.tb-privilege > figure > span{
    background: $pink;
  }
  a.game-center > figure > span{
    background: $purple;
  }
}

nav.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 51px;
  > a {
    color: $text-gray;
    font-size: $small-text;
    > figure {
      margin: 0;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      >span {
        margin-bottom: 5px;
        .iconfont {
          font-size: 22px;
        }
      }
    }
  }
}

main.index {
	margin-top: 10px;
  overflow-y: auto;
  section.gift {
    border-top: 1px solid $line-gray;
    position: relative;
    >section {
      display: inline-block;
    }
    >section.left {
      padding: 10px;
      padding-left: 0;
      margin-left: 10px;
      >img {

        // 宽高有点诡异
        // 是滴，稍后改
        width: 101px;
        height: 97px;
      }
    }
    >section.right {
      position: absolute;
      left: 121px;
      >.desc {
        font-size: $big-text;
        color: $text-darker-gray;
        margin-top: 14px;
        margin-bottom: 4px;
      }
      >span[class^='level'] {
        margin-bottom: 7px;
      }
    }
  }
}

footer.index {
	height: 51px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

